name: PHP CI

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  - push
  - pull_request


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs a single command using the runners shell
      - name: Setup PHP
        # Action gives to setup the PHP environment to test application
        # https://github.com/shivammathur/setup-php
        uses: shivammathur/setup-php@v2
        with:
          # Specify the PHP version
          php-version: '8.0'

      - name: Install
        run: make setup

      - name: Run linter
        run: make lint

      - name: Run tests & publish code coverage
        uses: paambaati/codeclimate-action@v2.7.4
        env:
          CC_TEST_REPORTER_ID: ${{secrets.CODE_CLIMATE_SECRET}}
          XDEBUG_MODE: coverage
        with:
          coverageCommand: make sail-test-coverage
          prefix: /var/www/html
          coverageLocations: |
            ${{github.workspace}}/coverage.xml:clover
